html, body {
  background: url(course.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Shrikhand variant0";
  color: white;
}

.buffer1 {
	height:20rem:
}

.buffer2 {
	height: 5rem;
}

.container {
height: 100vh;
display: flex;
align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
  margin: 200px 200px;
}